<html>  

<head>
  <title>The Gossip Project - l'équipe </title>
</head>  

<body>
  <h1>Voici la présentation de l'équipe</h1>
    
  <p>
  Jade Caillot<br>
  Grégoire Aubert
  </p>  

</body>

</html>