<html>  

<head>
  <title>The Gossip Project - Contact </title>
</head>  

<body>
  <h1>Vous souhaitez nous contacter ?</h1>
    
  <p>
  Jade Caillot : 118 218<br>
  Grégoire Aubert : vtf@gmail.com
  </p>  

</body>

</html>